@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<style>
    body{
        color: #0E7BA1;
    }
    .col{
        max-width: 500px;
    }
    .row{
        margin: 30px;
    }
</style>
<div class="row" style="display: flex; align-items: center; justify-content: center">
    <div class="col">
        <svg width="191" height="24" viewBox="0 0 191 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.51 23.3C5.97 23.3 3.59 22.82 1.37 21.86C1.13 21.76 0.93 21.6 0.77 21.38C0.61 21.14 0.53 20.89 0.53 20.63C0.53 20.29 0.64 20 0.86 19.76C1.1 19.5 1.4 19.37 1.76 19.37C1.96 19.37 2.15 19.41 2.33 19.49C4.17 20.31 6.14 20.72 8.24 20.72C11.74 20.72 13.49 19.57 13.49 17.27C13.49 16.67 13.26 16.17 12.8 15.77C12.36 15.37 11.81 15.06 11.15 14.84C10.49 14.6 9.55 14.32 8.33 14C6.71 13.58 5.4 13.18 4.4 12.8C3.4 12.4 2.54 11.81 1.82 11.03C1.1 10.25 0.74 9.21 0.74 7.91C0.74 6.77 1.04 5.74 1.64 4.82C2.24 3.88 3.12 3.14 4.28 2.6C5.46 2.04 6.87 1.76 8.51 1.76C10.71 1.76 12.7 2.09 14.48 2.75C15.04 2.95 15.32 3.35 15.32 3.95C15.32 4.27 15.21 4.56 14.99 4.82C14.77 5.08 14.48 5.21 14.12 5.21C14 5.21 13.84 5.17 13.64 5.09C12.08 4.55 10.47 4.28 8.81 4.28C7.23 4.28 5.94 4.58 4.94 5.18C3.96 5.78 3.47 6.62 3.47 7.7C3.47 8.42 3.7 9.01 4.16 9.47C4.64 9.91 5.23 10.26 5.93 10.52C6.65 10.76 7.62 11.02 8.84 11.3C10.42 11.68 11.69 12.06 12.65 12.44C13.63 12.82 14.46 13.41 15.14 14.21C15.84 15.01 16.19 16.09 16.19 17.45C16.19 18.57 15.87 19.58 15.23 20.48C14.59 21.36 13.69 22.05 12.53 22.55C11.37 23.05 10.03 23.3 8.51 23.3ZM20.2463 8.69C20.0063 8.69 19.7963 8.6 19.6163 8.42C19.4563 8.24 19.3763 8.03 19.3763 7.79C19.3763 7.47 19.5263 7.22 19.8263 7.04C20.3263 6.74 20.7063 6.39 20.9663 5.99C21.2263 5.59 21.3563 5.01 21.3563 4.25H21.2363C20.7763 4.25 20.3763 4.09 20.0363 3.77C19.7163 3.43 19.5563 3.03 19.5563 2.57V2.39C19.5563 1.93 19.7163 1.54 20.0363 1.22C20.3763 0.879999 20.7763 0.709999 21.2363 0.709999H21.5363C21.9963 0.709999 22.3863 0.879999 22.7063 1.22C23.0463 1.54 23.2163 1.93 23.2163 2.39V4.16C23.2163 6.08 22.3963 7.54 20.7563 8.54C20.5963 8.64 20.4263 8.69 20.2463 8.69ZM30.4946 23.3C29.6146 23.3 28.7946 23.12 28.0346 22.76C27.2946 22.4 26.7046 21.88 26.2646 21.2C25.8246 20.5 25.6046 19.7 25.6046 18.8C25.6046 17.32 26.1846 16.14 27.3446 15.26C28.5246 14.38 30.2446 13.94 32.5046 13.94H36.1346V13.7C36.1346 12.38 35.8046 11.43 35.1446 10.85C34.5046 10.27 33.4946 9.98 32.1146 9.98C31.3546 9.98 30.6746 10.04 30.0746 10.16C29.4946 10.28 28.8446 10.46 28.1246 10.7C27.9646 10.74 27.8346 10.76 27.7346 10.76C27.4346 10.76 27.1746 10.65 26.9546 10.43C26.7346 10.21 26.6246 9.94 26.6246 9.62C26.6246 9.08 26.8846 8.7 27.4046 8.48C29.1046 7.76 30.8346 7.4 32.5946 7.4C33.9746 7.4 35.1346 7.68 36.0746 8.24C37.0346 8.8 37.7346 9.53 38.1746 10.43C38.6346 11.31 38.8646 12.27 38.8646 13.31V21.8C38.8646 22.18 38.7246 22.5 38.4446 22.76C38.1846 23.02 37.8646 23.15 37.4846 23.15C37.1046 23.15 36.7846 23.02 36.5246 22.76C36.2646 22.5 36.1346 22.18 36.1346 21.8V21.02C34.6546 22.54 32.7746 23.3 30.4946 23.3ZM31.5146 20.9C32.3946 20.9 33.2446 20.69 34.0646 20.27C34.8846 19.83 35.5746 19.29 36.1346 18.65V16.13H32.8646C29.8446 16.13 28.3346 16.92 28.3346 18.5C28.3346 19.22 28.5746 19.8 29.0546 20.24C29.5546 20.68 30.3746 20.9 31.5146 20.9ZM48.5431 23.3C47.4431 23.3 46.4831 23.04 45.6631 22.52C44.8631 22 44.2431 21.29 43.8031 20.39C43.3831 19.49 43.1731 18.5 43.1731 17.42V8.9C43.1731 8.52 43.3031 8.2 43.5631 7.94C43.8431 7.68 44.1731 7.55 44.5531 7.55C44.9331 7.55 45.2531 7.68 45.5131 7.94C45.7731 8.2 45.9031 8.52 45.9031 8.9V17.12C45.9031 19.56 47.0031 20.78 49.2031 20.78C50.2031 20.78 51.0931 20.52 51.8731 20C52.6731 19.48 53.4231 18.78 54.1231 17.9V8.9C54.1231 8.52 54.2531 8.2 54.5131 7.94C54.7931 7.68 55.1231 7.55 55.5031 7.55C55.8831 7.55 56.2031 7.68 56.4631 7.94C56.7231 8.2 56.8531 8.52 56.8531 8.9V21.77C56.8531 22.15 56.7231 22.48 56.4631 22.76C56.2031 23.02 55.8831 23.15 55.5031 23.15C55.1231 23.15 54.7931 23.02 54.5131 22.76C54.2531 22.48 54.1231 22.15 54.1231 21.77V20.54C53.3631 21.38 52.5431 22.05 51.6631 22.55C50.7831 23.05 49.7431 23.3 48.5431 23.3ZM66.8844 23.3C63.9644 23.3 62.5044 21.98 62.5044 19.34V10.04H60.3744C60.2144 10.04 60.0744 9.99 59.9544 9.89C59.8544 9.77 59.8044 9.63 59.8044 9.47C59.8044 9.27 59.8944 9.1 60.0744 8.96L64.1544 4.97C64.3344 4.79 64.5044 4.7 64.6644 4.7C64.8244 4.7 64.9544 4.76 65.0544 4.88C65.1744 5 65.2344 5.14 65.2344 5.3V7.7H68.6244C68.9644 7.7 69.2444 7.81 69.4644 8.03C69.6844 8.25 69.7944 8.53 69.7944 8.87C69.7944 9.19 69.6844 9.47 69.4644 9.71C69.2444 9.93 68.9644 10.04 68.6244 10.04H65.2344V19.1C65.2344 19.88 65.4144 20.38 65.7744 20.6C66.1544 20.8 66.6244 20.9 67.1844 20.9C67.5844 20.9 67.9844 20.84 68.3844 20.72C68.4644 20.7 68.5444 20.68 68.6244 20.66C68.7244 20.64 68.8444 20.63 68.9844 20.63C69.2644 20.63 69.5144 20.74 69.7344 20.96C69.9544 21.16 70.0644 21.41 70.0644 21.71C70.0644 22.17 69.8344 22.52 69.3744 22.76C68.5944 23.12 67.7644 23.3 66.8844 23.3ZM74.4095 23.15C74.0295 23.15 73.7095 23.02 73.4495 22.76C73.1895 22.5 73.0595 22.18 73.0595 21.8V2.33C73.0595 1.95 73.1895 1.63 73.4495 1.37C73.7095 1.09 74.0295 0.95 74.4095 0.95C74.7895 0.95 75.1095 1.09 75.3695 1.37C75.6495 1.63 75.7895 1.95 75.7895 2.33V10.16C76.5495 9.32 77.3695 8.65 78.2495 8.15C79.1295 7.65 80.1695 7.4 81.3695 7.4C82.4695 7.4 83.4195 7.66 84.2195 8.18C85.0395 8.7 85.6595 9.41 86.0795 10.31C86.5195 11.21 86.7395 12.2 86.7395 13.28V21.8C86.7395 22.18 86.5995 22.5 86.3195 22.76C86.0595 23.02 85.7395 23.15 85.3595 23.15C84.9795 23.15 84.6595 23.02 84.3995 22.76C84.1395 22.5 84.0095 22.18 84.0095 21.8V13.58C84.0095 11.14 82.9095 9.92 80.7095 9.92C79.7095 9.92 78.8095 10.18 78.0095 10.7C77.2295 11.22 76.4895 11.92 75.7895 12.8V21.8C75.7895 22.18 75.6495 22.5 75.3695 22.76C75.1095 23.02 74.7895 23.15 74.4095 23.15ZM98.1807 23.3C95.7407 23.3 93.8307 22.61 92.4507 21.23C91.0907 19.83 90.4107 17.87 90.4107 15.35C90.4107 13.93 90.6707 12.62 91.1907 11.42C91.7107 10.22 92.5107 9.25 93.5907 8.51C94.6707 7.77 96.0007 7.4 97.5807 7.4C99.0607 7.4 100.341 7.75 101.421 8.45C102.501 9.13 103.321 10.05 103.881 11.21C104.441 12.35 104.721 13.6 104.721 14.96C104.721 15.34 104.591 15.66 104.331 15.92C104.091 16.18 103.761 16.31 103.341 16.31H93.1707C93.3307 17.71 93.8507 18.8 94.7307 19.58C95.6107 20.36 96.8407 20.75 98.4207 20.75C99.2607 20.75 99.9907 20.67 100.611 20.51C101.251 20.35 101.871 20.12 102.471 19.82C102.631 19.74 102.811 19.7 103.011 19.7C103.331 19.7 103.611 19.81 103.851 20.03C104.091 20.25 104.211 20.53 104.211 20.87C104.211 21.31 103.951 21.68 103.431 21.98C102.651 22.42 101.881 22.75 101.121 22.97C100.361 23.19 99.3807 23.3 98.1807 23.3ZM102.021 14.09C101.961 13.11 101.701 12.29 101.241 11.63C100.801 10.97 100.251 10.49 99.5907 10.19C98.9307 9.87 98.2607 9.71 97.5807 9.71C96.9007 9.71 96.2307 9.87 95.5707 10.19C94.9107 10.49 94.3607 10.97 93.9207 11.63C93.4807 12.29 93.2307 13.11 93.1707 14.09H102.021ZM109.683 23.15C109.303 23.15 108.983 23.02 108.723 22.76C108.463 22.5 108.333 22.18 108.333 21.8V8.93C108.333 8.55 108.463 8.23 108.723 7.97C108.983 7.69 109.303 7.55 109.683 7.55C110.063 7.55 110.383 7.69 110.643 7.97C110.923 8.23 111.063 8.55 111.063 8.93V10.16C111.823 9.32 112.643 8.65 113.523 8.15C114.403 7.65 115.443 7.4 116.643 7.4C117.743 7.4 118.693 7.66 119.493 8.18C120.313 8.7 120.933 9.41 121.353 10.31C121.793 11.21 122.013 12.2 122.013 13.28V21.8C122.013 22.18 121.873 22.5 121.593 22.76C121.333 23.02 121.013 23.15 120.633 23.15C120.253 23.15 119.933 23.02 119.673 22.76C119.413 22.5 119.283 22.18 119.283 21.8V13.58C119.283 11.14 118.183 9.92 115.983 9.92C114.983 9.92 114.083 10.18 113.283 10.7C112.503 11.22 111.763 11.92 111.063 12.8V21.8C111.063 22.18 110.923 22.5 110.643 22.76C110.383 23.02 110.063 23.15 109.683 23.15ZM131.543 23.3C128.623 23.3 127.163 21.98 127.163 19.34V10.04H125.033C124.873 10.04 124.733 9.99 124.613 9.89C124.513 9.77 124.463 9.63 124.463 9.47C124.463 9.27 124.553 9.1 124.733 8.96L128.813 4.97C128.993 4.79 129.163 4.7 129.323 4.7C129.483 4.7 129.613 4.76 129.713 4.88C129.833 5 129.893 5.14 129.893 5.3V7.7H133.283C133.623 7.7 133.903 7.81 134.123 8.03C134.343 8.25 134.453 8.53 134.453 8.87C134.453 9.19 134.343 9.47 134.123 9.71C133.903 9.93 133.623 10.04 133.283 10.04H129.893V19.1C129.893 19.88 130.073 20.38 130.433 20.6C130.813 20.8 131.283 20.9 131.843 20.9C132.243 20.9 132.643 20.84 133.043 20.72C133.123 20.7 133.203 20.68 133.283 20.66C133.383 20.64 133.503 20.63 133.643 20.63C133.923 20.63 134.173 20.74 134.393 20.96C134.613 21.16 134.723 21.41 134.723 21.71C134.723 22.17 134.493 22.52 134.033 22.76C133.253 23.12 132.423 23.3 131.543 23.3ZM139.008 4.58C138.588 4.58 138.228 4.43 137.928 4.13C137.628 3.83 137.478 3.47 137.478 3.05V2.93C137.478 2.51 137.628 2.15 137.928 1.85C138.228 1.55 138.588 1.4 139.008 1.4H139.188C139.608 1.4 139.968 1.55 140.268 1.85C140.568 2.15 140.718 2.51 140.718 2.93V3.05C140.718 3.47 140.568 3.83 140.268 4.13C139.968 4.43 139.608 4.58 139.188 4.58H139.008ZM139.068 23.15C138.688 23.15 138.368 23.02 138.108 22.76C137.848 22.5 137.718 22.18 137.718 21.8V8.93C137.718 8.55 137.848 8.23 138.108 7.97C138.368 7.69 138.688 7.55 139.068 7.55C139.468 7.55 139.798 7.68 140.058 7.94C140.318 8.2 140.448 8.53 140.448 8.93V21.8C140.448 22.18 140.308 22.5 140.028 22.76C139.768 23.02 139.448 23.15 139.068 23.15ZM147.678 23.15C147.298 23.15 146.978 23.02 146.718 22.76C146.458 22.5 146.328 22.18 146.328 21.8V10.04H144.558C144.238 10.04 143.958 9.93 143.718 9.71C143.498 9.47 143.388 9.19 143.388 8.87C143.388 8.53 143.498 8.25 143.718 8.03C143.958 7.81 144.238 7.7 144.558 7.7H146.328V5.96C146.328 4.76 146.538 3.78 146.958 3.02C147.398 2.24 147.958 1.68 148.638 1.34C149.338 0.979999 150.068 0.8 150.828 0.8C151.768 0.8 152.638 1 153.438 1.4C153.638 1.5 153.798 1.65 153.918 1.85C154.058 2.03 154.128 2.23 154.128 2.45C154.128 2.75 154.018 3.02 153.798 3.26C153.578 3.48 153.318 3.59 153.018 3.59C152.798 3.59 152.568 3.56 152.328 3.5C151.848 3.44 151.578 3.41 151.518 3.41C150.698 3.41 150.078 3.6 149.658 3.98C149.258 4.36 149.058 5.05 149.058 6.05V7.7H158.268C158.648 7.74 158.958 7.89 159.198 8.15C159.438 8.39 159.558 8.7 159.558 9.08V21.8C159.558 22.18 159.418 22.5 159.138 22.76C158.878 23.02 158.558 23.15 158.178 23.15C157.798 23.15 157.478 23.02 157.218 22.76C156.958 22.5 156.828 22.18 156.828 21.8V10.04H149.058V21.8C149.058 22.18 148.918 22.5 148.638 22.76C148.378 23.02 148.058 23.15 147.678 23.15ZM158.118 4.58C157.698 4.58 157.338 4.43 157.038 4.13C156.738 3.83 156.588 3.47 156.588 3.05V2.93C156.588 2.51 156.738 2.15 157.038 1.85C157.338 1.55 157.698 1.4 158.118 1.4H158.298C158.718 1.4 159.078 1.55 159.378 1.85C159.678 2.15 159.828 2.51 159.828 2.93V3.05C159.828 3.47 159.678 3.83 159.378 4.13C159.078 4.43 158.718 4.58 158.298 4.58H158.118ZM171.13 23.3C168.69 23.3 166.78 22.61 165.4 21.23C164.04 19.83 163.36 17.87 163.36 15.35C163.36 13.93 163.62 12.62 164.14 11.42C164.66 10.22 165.46 9.25 166.54 8.51C167.62 7.77 168.95 7.4 170.53 7.4C172.01 7.4 173.29 7.75 174.37 8.45C175.45 9.13 176.27 10.05 176.83 11.21C177.39 12.35 177.67 13.6 177.67 14.96C177.67 15.34 177.54 15.66 177.28 15.92C177.04 16.18 176.71 16.31 176.29 16.31H166.12C166.28 17.71 166.8 18.8 167.68 19.58C168.56 20.36 169.79 20.75 171.37 20.75C172.21 20.75 172.94 20.67 173.56 20.51C174.2 20.35 174.82 20.12 175.42 19.82C175.58 19.74 175.76 19.7 175.96 19.7C176.28 19.7 176.56 19.81 176.8 20.03C177.04 20.25 177.16 20.53 177.16 20.87C177.16 21.31 176.9 21.68 176.38 21.98C175.6 22.42 174.83 22.75 174.07 22.97C173.31 23.19 172.33 23.3 171.13 23.3ZM174.97 14.09C174.91 13.11 174.65 12.29 174.19 11.63C173.75 10.97 173.2 10.49 172.54 10.19C171.88 9.87 171.21 9.71 170.53 9.71C169.85 9.71 169.18 9.87 168.52 10.19C167.86 10.49 167.31 10.97 166.87 11.63C166.43 12.29 166.18 13.11 166.12 14.09H174.97ZM182.632 23.15C182.252 23.15 181.932 23.02 181.672 22.76C181.412 22.5 181.282 22.18 181.282 21.8V8.93C181.282 8.55 181.412 8.23 181.672 7.97C181.932 7.69 182.252 7.55 182.632 7.55C183.012 7.55 183.332 7.69 183.592 7.97C183.872 8.23 184.012 8.55 184.012 8.93V10.22C185.412 8.34 186.982 7.4 188.722 7.4H188.872C189.252 7.4 189.562 7.53 189.802 7.79C190.062 8.05 190.192 8.37 190.192 8.75C190.192 9.13 190.062 9.44 189.802 9.68C189.542 9.92 189.212 10.04 188.812 10.04H188.662C187.702 10.04 186.822 10.28 186.022 10.76C185.222 11.22 184.552 11.86 184.012 12.68V21.8C184.012 22.18 183.872 22.5 183.592 22.76C183.332 23.02 183.012 23.15 182.632 23.15Z" fill="url(#paint0_linear)"/>
        <defs>
        <linearGradient id="paint0_linear" x1="-1" y1="-4" x2="11.453" y2="64.5955" gradientUnits="userSpaceOnUse">
        <stop stop-color="#0E7BA1"/>
        <stop offset="1" stop-color="#153093"/>
        </linearGradient>
        </defs>
        </svg>

    </div>
</div>
<div class="row" style="display: flex; align-items: center; justify-content: center">
    <div class="col">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    @*
        
        <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>    
*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
